<!DOCTYPE html>
<html>
<head>
    <title>Mi Proyecto Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Mi Proyecto Flask</h1>
    </header>

    <nav>
        <a href="/">Inicio</a>
        <a href="/about">Acerca de</a>
        <a href="/productos">Productos</a>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

    <hr>

    <footer>
        <p>© 2026 - Proyecto Flask</p>
    </footer>

</body>
</html>